body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#count-down {
    font-size: 200px;
}